<!doctype html>
<html {{ site.language_attributes }}>
<head>
	<meta charset="{{ site.charset }}">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen"/>
	{{ function('wp_head') }}
</head>
<body>
<div class="body-inner">
	{{ include('partials/header.twig') }}

	<main>
		{% block content %}
			Sorry, no content
		{% endblock %}
	</main>

	{{ include('partials/footer.twig') }}
</div>
{{ function('wp_footer') }}
</body>
</html>