<!doctype html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen"/>
  {{ function('wp_head') }}
</head>
<body>

{% block content %}
  Sorry, no content
{% endblock %}

{{ function('wp_footer') }}
</body>
</html>